@font-face {
    font-family: "Snowbox-normalFont";
    src: url('assets/fonts/KBAStitchInTime.ttf') format('truetype');
}

.ppat-text {
    display: none;
}

p#fontloader {
    position: absolute;
    left: -100px;
}